@import "./../variables.scss";

.layout {
    display: block;
    position: relative;

    .page {
        display: block;
        position: relative;
        padding: 1rem 1rem 5rem;
        box-sizing: border-box;
    }

    .logo {
        display: block;
        margin: auto;
        width: 10rem;
    }
}